:root{
    --nav-color: #364156;
    --green: #288169;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--nav-color);
    padding: var(--xxs-size) var(--xxl-size);
    color: white;
}
.navbar-logo {
    font-weight: bold;
    text-decoration: none;
    color: white;
}
.navbar-links {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.navbar-item {
    display: inline;
    margin-left: var(--lg-size);
}

.navbar-links a:hover {
    color: #e9d8fd;
}

.navbar-toggle {
    background-color: var(--green);
    border: none;
    border-radius: var(--xs-size);
    color: white;
    padding: var(--xxxs-size) var(--sm-size);
    cursor: pointer;
}

.navbar-toggle:nth-child(1){
    color: var(--green);
    background-color: white;
}

/* Tablet & smaller sizes */
@media screen and (max-width: 600px){
    .navbar-links{
        display: none;
    }
    .navbar-logo{
        font-size: var(--lg-size);
    }
}