:root {
    /* Base sizes */
    --text-base-size: 1rem;
  
    /* Type scale */
    --text-xs: calc(var(--text-base-size) / var(--text-scale-ratio) / var(--text-scale-ratio));
    --text-sm: calc(var(--text-base-size) / var(--text-scale-ratio));
    --text-md: calc(var(--text-base-size) * var(--text-scale-ratio));
    --text-lg: calc(var(--text-base-size) * var(--text-scale-ratio) * var(--text-scale-ratio));
    --text-xl: calc(var(--text-base-size) * var(--text-scale-ratio) * var(--text-scale-ratio) * var(--text-scale-ratio));
    --text-xxl: calc(var(--text-base-size) * var(--text-scale-ratio) * var(--text-scale-ratio) * var(--text-scale-ratio) * var(--text-scale-ratio));
    --text-xxxl: calc(var(--text-base-size) * var(--text-scale-ratio) * var(--text-scale-ratio) * var(--text-scale-ratio) * var(--text-scale-ratio) * var(--text-scale-ratio));
  
    /* Line heights */
    --line-height-small: 1.1;
    --line-height-normal: 1.5;
    --line-height-large: 1.8;
  }
  
  /* Responsive base size adjustment */
  @media screen and (min-width: 300px) {
    :root {
      --text-base-size: calc(0.875rem + 0.5vw);
      --text-scale-ratio: 1.2;
    }
  }

  @media screen and (min-width: 600px) {
    :root {
        --text-scale-ratio: 1.25;
      }
  }
  
  @media screen and (min-width: 1025px) {
    :root {
        --text-scale-ratio: 1.313;
      }
    }
    
      /* Larger base size for larger screens */
  @media screen and (min-width: 1250px) {
    :root {
      --text-scale-ratio: 1.414
    }
  }
  
  /* Apply styles */
  body {
    font-size: var(--text-base-size);
    line-height: var(--line-height-normal);
  }
  
  h1, .h1 {
    font-size: var(--text-xxxl);
    line-height: var(--line-height-small);
  }
  
  h2, .h2 {
    font-size: var(--text-xxl);
    line-height: var(--line-height-small);
  }
  
  h3, .h3 {
    font-size: var(--text-xl);
  }
  
  h4, .h4 {
    font-size: var(--text-lg);
  }
  
  small, .text-small {
    font-size: var(--text-sm);
  }
  
  .text-xs {
    font-size: var(--text-xs);
  }