:root {
    /* Base sizes */
    --xxxs-size: 0.45rem;
    --xxs-size: 0.6rem;
    --xs-size: 0.75rem;
    --sm-size: 0.85rem;
    --base-size: 1rem;
  
    /* Type scale */
    --md-size: calc(var(--base-size) * var(--text-scale-ratio));
    --lg-size: calc(var(--base-size) * var(--text-scale-ratio) * var(--text-scale-ratio));
    --xl-size: calc(var(--base-size) * var(--text-scale-ratio) * var(--text-scale-ratio) * var(--text-scale-ratio));
    --xxl-size: calc(var(--base-size) * var(--text-scale-ratio) * var(--text-scale-ratio) * var(--text-scale-ratio) * var(--text-scale-ratio));
    --xxxl-size: calc(var(--base-size) * var(--text-scale-ratio) * var(--text-scale-ratio) * var(--text-scale-ratio) * var(--text-scale-ratio) * var(--text-scale-ratio));
  
    /* Line heights */
    --line-height-small: 1.1;
    --line-height-normal: 1.5;
    --line-height-large: 1.8;
  }
  
  /* Responsive base size adjustment */
  @media screen and (min-width: 300px) {
    :root {
         /* size will remain the same from 300px to above only scale-ratio will change  */
      --xxxs-size: calc(0.4rem + 0.25vw);
      --xxs-size: calc(0.5rem + 0.3vw);
      --xs-size: calc(0.6rem + 0.4vw);
      --sm-size: calc(0.73rem + 0.5vw);
      --base-size: calc(0.875rem + 0.6vw);

      --text-scale-ratio: 1.2;
    }
  }
/*
  @media screen and (min-width: 600px) {
    :root {
        --text-scale-ratio: 1.25;
      }
  }
  
  @media screen and (min-width: 1025px) {
    :root {
        --text-scale-ratio: 1.313;
      }
    }
    
      /* Larger base size for larger screens 
  @media screen and (min-width: 1250px) {
    :root {
      --text-scale-ratio: 1.414
    }
  } */
  
  /* Apply styles */
  body {
    font-size: var(--base-size);
    line-height: var(--line-height-normal);
  }
  
  h1, .h1 {
    font-size: var(--xxxl-size);
    line-height: var(--line-height-small);
  }
  
  h2, .h2 {
    font-size: var(--xxl-size);
    line-height: var(--line-height-small);
  }
  
  h3, .h3 {
    font-size: var(--xl-size);
  }
  
  h4, .h4 {
    font-size: var(--lg-size);
  }
  
  .text-sm {
    font-size: var(--sm-size);
  }
  
  .text-xs {
    font-size: var(--xs-size);
  }